$center: 0 auto;

// this area is for width and heigh
$site-width: 980px;
$banner-footer-width: 1280px;
$footer-height: 100px;
$banner-height: 500px;
$home-form-width: 818px;

// This is for the site colors
$site-blue: #77addc;
$site-white: #ffff;
$site-black: #000000;

// this area is for button
